::-webkit-scrollbar{
    display: none;
}

:root{
    --color-M1: #fff;
    --color-M2: #f9fafb;
    --color-M3: #3182F6;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 이벤트 안내 이미지 */

.Sec1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-bottom: 180px;
    background-color: rgb(50, 50, 60);
}

.Sec1 span{
    display: block;
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    color: white;   
    text-shadow: 2px 2px 4px royalblue;
    z-index: 999;
    margin-bottom: 60px;
}
.Sec2{
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
    margin-top: 200px;
}
.Sec2 span{
    position: relative;
    padding: 0px 300px;
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}
